h1, footer{
    text-align: center;
    background-color: darkgray;
    padding-top: 1em;
}
footer {
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: darkgray;
    width: 100%;
    padding: 40px 35px;
}

#todays-forecast {
    padding-top:10px;
    padding-bottom:10px;
    width: fit-content;
}
#todays-forecast h2 {
    display: inline;
}
.search-container{
    margin-right: 10%;
    padding-top:10px;
}
.search{
    padding-bottom: 4em;
}
.search button{
    background-image: url('../../assets/images/cloud-computing.png');
    background-position: center;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    float: right;

}
.citySearch{
    width:80%;
    float:left;
}
.search-history{
    padding-top: 1em;
}
.card-body{
    background-color: rgb(6, 85, 255);
    /* margin:1%; */
    color:white;
    border: whitesmoke 1px solid;
}


.low {
    background-color: #ff6961;
    color: white;
  }
.moderate {
    background-color: rgb(228, 228, 32);
    color: rgb(150, 140, 140);
}
.high {
    background-color: orange;
    color: white;
}

.veryHigh {
    background-color: red;
    color: white;
}
.extreme {
    background-color: violet;
    color: white;
}
